- var img = 'img/';
       
doctype
html
	include ../blocks/head.pug
		title Займы
	body
		include ../blocks/header.pug

		section.breadcrumbs
			.container
				ul
					li
						a(href="#") Микрозаймы
					li
						a(href="#") На карту
					li
						a(href="#") 10 идей, как поступить, если нечем платить за кредит 

		.page-container
			section.page-img
				img(src=img+"page-img.jpg", alt="")

			section.article
				.container
					.text-container
						h1 10 идей, как поступить, если нечем платить за кредит
						img(src=img+"article.jpg", alt="")
						p Из-за карантина многие полностью или частично лишились дохода. Как быть, если в такой ситуации нет возможности погашать ипотеку или потребительский кредит? Мы выбрали несколько вариантов, откуда взять деньги и что могут предложить банки.
						h3 1. Обратиться за реструктуризацией
						p Если вы совершенно не справляетесь с платежами, то обратитесь в банк с просьбой пересмотреть условия по кредиту. Это называется реструктуризацией. Банк может на своё усмотрение снизить процентную ставку по кредиту, уменьшить ежемесячный платёж или списать уже начисленные штрафы и пени.
						p Чтобы банк пошёл навстречу, у заёмщика должна быть объективная причина не платить по долгам — сложная жизненная ситуация. Например, если вы потеряли работу, ушли в декрет или отпуск по уходу за ребёнком, сильно заболели или получили травму и временно не можете зарабатывать деньги. Причину придётся доказать документами.
						h3 2. Взять кредитные каникулы
						p Это временная отсрочка платежей по кредиту. В России сейчас действуют два вида кредитных каникул: «новые», которые ввели в связи с распространением коронавируса, и «старые» — ипотечные. И те, и другие действуют одинаково: период отсрочки выбирает сам заёмщик (каникулы не могут длиться дольше 6 месяцев), снова начать погашать кредит — частично или по графику — можно в любое время.
						p «Новые» кредитные каникулы
						p «Новые» каникулы распространяются на потребительские, ипотечные и автомобильные займы, которые оформили до 3 апреля 2020 года. Чтобы их взять, нужно соблюсти одновременно три условия.
						p 1. Размер кредита не должен превышать максимально возможный по закону. По ипотечным кредитам — 2 миллиона ₽ (в Москве — 4,5 миллиона ₽, в Московской области, Санкт-Петербурге и Дальневосточном федеральном округе — 3 миллиона ₽), по автокредитам — 600 тысяч ₽, по потребкредитам для ИП — 300 тысяч ₽, по потребкредитам для физлиц — 250 тысяч ₽, по кредитным картам для физлиц — 100 тысяч ₽.

		include ../blocks/footer.pug

		include ../blocks/scripts.pug