- var img = 'img/';
       
doctype
html
	include ../blocks/head.pug
		title Займы
	body
		include ../blocks/header.pug

		section.breadcrumbs
			.container
				ul
					li
						a(href="#") Микрозаймы
					li
						a(href="#") На карту

		.page-container
			section.sitemap
				.container
					h1.sitemap__title Карта сайта
					.block
						h3.block__title Кредиты
						ul.list
							li
								a(href="#") Кредиты по суммам, срокам и процентам
							li
								a(href="#") Автокредиты по проценту и взносу
							li
								a(href="#") Автокредиты по срокам
					.block
						h3.block__title Кредитные карты
						ul.list
							li
								a(href="#") Кредитные карты с беспроцентным периодом и по кредитным лимитам
					.block
						h3.block__title Займы
						ul.list
							li
								a(href="#") Все Займы
					.block
						h3.block__title Ипотека
						ul.list
							li
								a(href="#") Ипотека по срокам, процентам и сумме
							li
								a(href="#") Ипотека банков в городах России
							li
								a(href="#") Все ипотечные калькуляторы
							li
								a(href="#") Рефинансирование в городах России
							li
								a(href="#") Ипотека по типам и банкам
							li
								a(href="#") Страхование ипотеки
							li
								a(href="#") Страхование недвижимости
					.block
						h3.block__title Вклады
						ul.list
							li
								a(href="#") Все вклады банков в городах России
							li
								a(href="#") Все калькуляторы вкладов
							li
								a(href="#") Вклады по типам
							li
								a(href="#") Вклады по типам в банках и городах России
					.block
						h3.block__title Путеводители
						ul.list
							li
								a(href="#") Путеводитель по вкладам
							li
								a(href="#") Путеводитель по кредитам
							li
								a(href="#") Путеводитель по кредитным картам
							li
								a(href="#") Путеводитель по дебетовым картам
							li
								a(href="#") Путеводитель по ипотечным кредитам
							li
								a(href="#") Путеводитель по автокредитам
							li
								a(href="#") Путеводитель по каско
							li
								a(href="#") Путеводитель по ОСАГО
							li
								a(href="#") Путеводитель по туристической страховке
							li
								a(href="#") Путеводитель по страхованию недвижимости
							li
								a(href="#") Путеводитель по валютам
					.block
						h3.block__title Другие сервисы:
						ul.list
							li
								a(href="#") РКО в банках и городах
							li
								a(href="#") Все материалы Энциклопедии
							li
								a(href="#") Все конвертеры валют
							li
								a(href="#") Банкоматы, отделения и курсы обмена валют банков на вокзалах и аэропортах
							li
								a(href="#") Курсы валют
							li
								a(href="#") Полезные статьи по банкам

		include ../blocks/footer.pug

		include ../blocks/scripts.pug