footer.footer
	.top
		.container
			.footer-block
				h3.footer-block__title Популярное
				ul.list
					li
						a(href="#") На карту
					li 
						a(href="#") Быстрые
					li 
						a(href="#") Займы онлайн
					li 
						a(href="#") На карту без отказа
					li 
						a(href="#") На карту мгновенно
					li 
						a(href="#") Без процентов
					li 
						a(href="#") Под залог ПТС
					li 
						a(href="#") На киви
					li 
						a(href="#") На карту без проверок
					li 
						a(href="#") На карту без проверки КИ
			.footer-block
				h3.footer-block__title Без проверки
				ul.list
					li
						a(href="#") На карту за 5 минут
					li 
						a(href="#") С плохой КИ
					li 
						a(href="#") Под 0 процентов
					li 
						a(href="#") Самые новые займы
					li 
						a(href="#") Деньги в долг без проверки КИ
					li 
						a(href="#") Без отказа
					li 
						a(href="#") Деньги на карту
					li 
						a(href="#") Долгосрочные
					li 
						a(href="#") На Яндекс Деньги
					li 
						a(href="#") Микрозаймы без отказа
			.footer-block
				h3.footer-block__title Деньги до зарплаты
				ul.list
					li
						a(href="#") Новые займы
					li
						a(href="#") Безработным
					li
						a(href="#") МФО онлайн
					li
						a(href="#") На карту до зарплаты
					li
						a(href="#") Микрозаймы на карту
					li
						a(href="#") Калькулятор
					li
						a(href="#") На карту без отказа без проверки
					li
						a(href="#") На карту Сбербанка
					li
						a(href="#") С плохой кредитной историей
			.footer-block
				h3.footer-block__title Популярное в регионах
				ul.list
					li
						a(href="#") В долг на карту
					li
						a(href="#") С плохой кредитной историей
					li
						a(href="#") На карту без проверки КИ
					li
						a(href="#") На карту
					li
						a(href="#") На карту без отказов
					li
						a(href="#") На дом
					li
						a(href="#") Долгосрочные
					li
						a(href="#") Для безработных
					li
						a(href="#") Микрозаймы
					li
						a(href="#") Без процентов
					li
						a(href="#") Деньги под проценты
					li
						a(href="#") На карту до зарплаты
	.bottom
		.container
			ul.menu
				li
					a(href="#") О проекте
				li
					a(href="#") Контакты
				li
					a(href="#") Политика конфиденциальности
				li
					a(href="#") Карта сайта
			p.footer__text © 2009–2020, ООО «Сравни.ру». При использовании материалов гиперссылка на sravni.ru обязательна.  ИНН 7710718303, ОГРН 1087746642774. 109544, г. Москва, бульвар Энтузиастов, дом 2, 26 этаж.
			p.footer__text Мы используем файлы cookie для того, чтобы предоставить пользователям больше  возможностей при посещении сайта sravni.ru. Подробнее об условиях использования.